@media (max-width: 769px) {
        main::after { 
            background: linear-gradient(0deg, #000 20%, rgba(0, 0, 0, 0) 65%) no-repeat;
            width: 100vw;
    }

    main .persongem .imagem {
        height: 85%;
    }
    
    .conteudo {
        justify-content: flex-end;
        left: 0;
        top: -20%;
        max-width: 100vw;
        padding: 30px; /* Padding é um espaçamento interno ao elemento entre o conteúdo do elemento e as bordas */

    }

    .conteudo .nome-persongem {
        font-size: 36px;

    }

    .conteudo .descricao {
        max-width: 500px;
    }

    .botoes {
        flex-direction: row; /* Diferente do outro, esse vai servir para deixar os botões na horizontal */
        align-items: flex-end; /* Deixar no final da página, pois está configura para mobile */
        width: 100%;
        padding: 30px;
    }

    .botoes .botao img {
        max-width: 60px;
    }


}

@media (max-width: 425px) {
    main .persongem .imagem{
        height: auto;
    }

    .conteudo .logo {
        width: 170px;
        height: 75px;
    }

    .conteudo {
        top: -30%;
    }

    .conteudo .nome-persongem {
        font-size: 24px;
    }

    .botoes {
        padding: 20px;
        top: -20%;
    }

    .botoes .botao img {
        max-width: 50px;
    }

}